.login{
  &__container{
  width: 85%;
  border-radius: 5px;
  margin: 30px auto;
  background: #101010;
  }
  &__wrapper{
  display: grid;
  grid-template-columns: minmax(auto, 1fr)
  }
  &__left{
    height: 0;
  }
  &__right{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & h1{
      margin: 10px;
      color: red;
    }

    & h5{
      color:azure;
    }
    & button{
      margin: 10px;
      color:azure;
  }
  }
  &__right__form-group{
    & input{
      width: 90%;
      font-size: 1rem;
       margin: 5px;
    }
    & label {
    font-size: 1rem;
    color: azure;
    }
    & button{
      width: 120px;
      height: 40px;
      margin: 10px;
      color: azure;
      background-color:red;
    }
  }
}

@media screen and (min-width: 768px) {
.login{
  &__wrapper{
    height: 500px;
    grid-template-columns:  minmax(auto, 1fr) minmax(auto, 1fr);
   }
   &__left{
    height: 100%;
    background-image: url('../img/addy-ire-Jz4X5UOoVfs-unsplash.jpg');
    background-position: center;
    background-size: cover;
  }
 }
}
@media screen and (min-width: 1024px) {
  .login{
  &__wrapper{
    height:650px;
  }
 }
}
@media screen and (min-width: 2300px) {
  .login{
  &__wrapper{
    height: 800px;
  }
  &__right__form-group__input{
    & label{
      font-size: 1.5rem;
    }
    & input{
      font-size: 1.5rem;
    }
  }
 }
}