.movie-card {
  position: relative;
  &__img {
    border-radius: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, .7),
      rgba(0, 0, 0, .7)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  &:hover:before {
    opacity: 1;
  }
  &__info {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: 0.4s all;
    color: azure;
    font-size: 0.5rem;
    &__detail-button,&__ticket-button{
      width: 100px;
      height: 40px;
      outline: 1px solid red;
      background-color: red;
      border-radius: 3%;
      margin: 5px;
      color: azure;
    }
  }
  &:hover &__info {
    opacity: 1;
  }
}

@media screen and (min-width: 1050px) {
  .movie-card {
    height: 368px;
    &__info {
      font-size: 1rem;
    }
    &__detail-button,&__ticket-button{
       width: 120px;
       height: 45px;
     }
  }
}
