.header {
  height: 60px;
  display: grid;
  grid-template-columns: 0.2fr auto 1.6fr 0.5fr 0.2fr;
}
.header-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 4;
  &__login{
    width: 100px;
    height: 50px;
    background: red;
    color: azure;
   }
   &__user-buttons{
     display: flex;
     &__userPage,&__logout{
    width: 100px;
    height: 50px;
    margin: 3px;
    background: red;
    color: azure;
     }
   }
  }
.web-title {
  display: flex;
  align-items: center;
  grid-column: 2;
  letter-spacing: 1px;
  &__img {
    height: 60px;
    width: 60px;
    padding: 10px;
  }
  & h1{
    color: red;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 200px;
  }
  .header-buttons{
    &__login{
      font-size: 1.5rem;
    }
    &__userPage{
      width: 150px;
      height: 60px;
      font-size: 1.5rem;
    }
  }
  .web-title {
    &__img {
      height: 100px;
      width: 100px;
    }
    & h1{
      font-size: 2.5rem;
    }
  }
}

