.register{
  &__container{
  outline: 1px solid red;
  position: absolute;
  top: 10%;
  left: 11%;
  margin-top: 30%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr)
  }
  &__left{
    height: 0;
  }
  &__right{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & h1{
      color: red;
    }

    & h5{
      color:azure;
    }
  }
  &__right__form-group{
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-left: 1.5%;
    & input{
       margin: 5px;
    }
    & label {
    color: azure;
    }
    & button{
      width: 120px;
      height: 40px;
      margin: 5px;
      color: azure;
      background-color:red;
    }
    // &__input{
      
    // }
  }
}

@media screen and (min-width: 414px) {
.register{
  &__container{
    left: 15%;
  }
 }
}
@media screen and (min-width: 768px) {
.register{
  &__container{
    width: 700px;
    height: 400px;
    left: 5%;
    grid-template-columns:  minmax(auto, 1fr) minmax(auto, 1fr);
   }
   &__left{
    height: 100%;
    background-image: url('../img/addy-ire-Jz4X5UOoVfs-unsplash.jpg');
    background-position: center;
    background-size: cover;
  }
 }
}
@media screen and (min-width: 1024px) {
  .register{
  &__container{
    width: 920px;
    height: 550px;
    top:-10%;
  }
 }
}
@media screen and (min-width: 2300px) {
  .register{
  &__container{
    width: 1500px;
    height: 800px;
    top:-50%;
    left: 20%;
  }
 }
}