.search-input{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("../img/red-movie-theater-seats.jpg");
  background-position:center;
  border: 1px solid red;
}