.swiper-container{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  .swiper-button-prev,.swiper-button-next{
    color: azure;
  }
}
.swiper-card{
  position: relative;
  &__img{
    width: 100%;
    height: 200px;
    border-radius: 3%;
  }
  &::before{
    content: "";
    height: 600px;
    width: 100%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(0, 0, 0,0.727),
      transparent 45%
    );
    background-blend-mode: multiply;
  }
  &__title{
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: 10px;
    color: azure;
  }
  &__button{
    position: absolute;
    top: 55%;
    left: 10%;
    border: 1px solid red;
    border-radius: 2%;
    height: 40px;
    width: 200px;
    text-align: center;
    background: red;
    &__text{
      color: azure;
    }
    &__icon{
      color: azure;
    }
 }
}

@media screen and (min-width: 1050px) {
  .swiper-container{
      width: 100%;
      height: 100%;
  }
  .swiper-card{
    &__img{
      height: 600px;
    }
    &__title{
      font-size: 60px;
    }
  }
}
