.userPage{
  &__container{
  outline: 1px solid red;
  width: 95%;
  margin: 2rem auto 3rem auto;
  }
  &__user-area{
  width: 65%;
  margin-left: 18%;
  outline: 1px solid royalblue;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  & i{
    color: azure;
    font-size: 80px;
  }
  &__info{
    color: azure;
    & h1{
      font-size: 0.5rem;
    }
   }
  }
  &__favorite-movies-area {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    width: 100%;
    grid-gap: 1.5rem;
    &__title{
    color: azure;
    margin: 5px;
  }
  }
}

@media screen and (min-width: 768px) {
  .userPage{
    &__favorite-movies-area {
     grid-template-columns: repeat(3, minmax(auto, 1fr));
    }
    &__user-area{
       & i{
         font-size: 150px;
       }
    &__info{
     & h1{
       font-size: 2rem;
    }
   }
    }
  }
}
@media screen and (min-width: 1050px) {
  .userPage{
    &__favorite-movies-area {
    grid-template-columns: repeat(4, minmax(245px, 1fr));
  }
  &__user-area{
       & i{
         font-size: 200px;
       }
    &__info{
     & h1{
       font-size: 2.5rem;
    }
   }
  }
 }
}
@media screen and (min-width: 2300px) {
  .userPage{
   &__favorite-movies-area {
     &__title{
        font-size: 5rem;
      }
    }
  }
}